@page
@model Labajo_WebApp.Pages.CrudPages.DeleteModel

@{
    Layout = "_LayoutCrud";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CrudModels</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.confirm_Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.confirm_Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrudModels.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrudModels.BirthDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CrudModels.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
